* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f0eb;
  font-family: "Fjalla One", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@font-face {
  font-family: "Dimitri Swank";
  src: url("../fonts/DimitriSwank.woff2") format("woff2"), url("../fonts/DimitriSwank.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
header {
  position: relative;
  z-index: 10;
}
header img {
  height: 50px;
  animation: beat 10s ease-in-out 1;
  transform-origin: center;
}

@keyframes beat {
  0%, 50%, 100% {
    transform: scale(1);
  }
  30%, 80% {
    transform: scale(0.7);
  }
}
main {
  display: flex;
  background-color: #f3f0eb;
  flex: 1;
}
main section {
  padding: 2rem 1rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: "Fjalla One", sans-serif;
}
main img.background-img {
  position: relative;
  top: 0;
  right: 0;
  width: calc(50% - 2rem);
  height: calc(100% - 2rem);
  object-fit: cover;
  margin: 1rem;
}

footer {
  background-color: #333;
  color: #f3f0eb;
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;
}
footer p {
  margin: 0;
  font-family: "Fjalla One", sans-serif;
}
footer .icons a,
footer .nav-arrows a {
  margin: 0 5px;
}
footer .icons a img,
footer .nav-arrows a img {
  width: 30px;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  background-color: #333;
  color: #f3f0eb;
  display: inline-block;
  transition: background-color 0.3s ease-in-out;
}
button:hover {
  background-color: rgb(45.9, 45.9, 45.9);
}

button a {
  color: #f3f0eb;
  text-decoration: none;
  font-size: 15px;
  font-family: "Fjalla One", sans-serif;
}

.navbar {
  padding-left: 2rem;
  padding-right: 2rem;
}
.navbar .navbar-toggler {
  margin-left: auto;
  padding: 0.5rem;
}
.navbar .navbar-nav {
  padding-right: 2rem;
}
.navbar .navbar-nav .nav-item {
  margin-left: 20px;
}
.navbar .navbar-nav .nav-link {
  color: #f3f0eb;
  font-family: "Fjalla One", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .navbar-toggler {
    margin-right: 1rem;
  }
}
.map-container {
  filter: grayscale(100%);
  opacity: 0.8;
}

.image-text-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  column-gap: 20px;
}
.image-text-container img {
  max-width: 150px;
  height: auto;
}
.image-text-container h2 {
  font-size: 1.5em;
  color: #d54e16;
}
.image-text-container p {
  margin: 0;
  font-size: 1em;
}

.bs-font {
  font-family: "Dimitri Swank", sans-serif;
  color: #d54e16;
}

h1 {
  font-family: "Dimitri Swank", sans-serif;
  font-size: 45px;
  margin: 0;
}

.main-text {
  padding: 8px;
  font-size: 20px;
  font-family: "Fjalla One", sans-serif;
  text-align: justify;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    min-height: 100vh;
    padding: 1rem;
    overflow-y: auto;
  }
  h1 {
    font-size: 25px;
    padding-top: 60px;
  }
  main img.background-img {
    display: none;
  }
  main section.content {
    text-align: center;
    max-width: 100%;
  }
  main section.content-us {
    text-align: center;
    max-width: 100%;
    font-size: 20px;
  }
  .content-us-h1 {
    font-size: 25px;
    padding-top: 200px;
  }
  header img {
    height: 40px;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer .icons a img,
  footer .nav-arrows a img {
    width: 15px;
  }
  footer p {
    font-size: 10px;
  }
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.form-group label {
  margin-bottom: 0.5rem;
  font-family: "Fjalla One", sans-serif;
  color: #333;
}
.form-group input,
.form-group textarea {
  padding: 0.5rem;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}
.form-group input:focus,
.form-group textarea:focus {
  border-bottom: 2px solid rgb(45.9, 45.9, 45.9);
}

/*# sourceMappingURL=style.css.map */
