// Variables de colores
$primary-color: #f3f0eb;
$secondary-color: #333;
$accent-color: #d54e16;

// Tipografías
$font-primary: "Fjalla One", sans-serif;
$font-secondary: "Dimitri Swank", sans-serif;

// Tamaños
$font-size-large: 45px;
$font-size-medium: 20px;
$font-size-small: 10px;

// Breakpoints
$breakpoint-mobile: 768px;