@include responsive($breakpoint-mobile) {
    main {
        @include flex-center;
        flex-direction: column;
        min-height: 100vh;
        padding: 1rem;
        overflow-y: auto;
        padding-top: 60px;
    }

    h1 {
        font-size: 25px;
        padding-top: 60px;
    }

    main {
        img.background-img {
            display: none;
        }

        section {
            &.content {
                text-align: center;
                max-width: 100%;
            }

            &.content-us {
                padding-top: 100px;
                text-align: center;
                max-width: 100%;
                font-size: 20px;
            }
        }
    }

    .content-us-h1 {
        font-size: 25px;
        padding-top: 200px;
    }

    header img {
        height: 40px;
    }

    footer {
        @include flex-center;
        flex-direction: column;

        .icons a img,
        .nav-arrows a img {
            width: 15px;
        }

        p {
            font-size: $font-size-small;
        }
    }
}