// Navbar

.navbar {
    padding-left: 2rem;
    padding-right: 2rem;

    .navbar-toggler {
        margin-left: auto;
        padding: 0.5rem;
    }

    .navbar-nav {
        padding-right: 2rem;

        .nav-item {
            margin-left: 20px;
        }

        .nav-link {
            color: $primary-color;
            font-family: $font-primary;
            font-size: 20px;
            text-transform: uppercase;
        }

    }

    .navbar-brand {
        animation: 6s ease-out 0s infinite beat;
    }
}

@include responsive($breakpoint-mobile) {
    .navbar-toggler {
        margin-right: 1rem;
    }
}

// Animacion logo de @burger_sessions
.beat {
    width: 100px; 
    animation: beat 10s ease-in-out 1; 
 }
 
 // Definición de la animación beat
 @keyframes beat {
    0%, 50%, 100% { transform: scale(1); }  
    30%, 80% { transform: scale(0.7); }  
 }