//Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Body general
body {
  background-color: $primary-color;
  font-family: $font-primary;
  height: 100vh;
  display: flex;
  flex-direction: column;
}